{{- range .Values.topics }}
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaTopic
metadata:
  name: {{ .name }}
  labels:
    strimzi.io/cluster: my-cluster
spec: 
  topicName: {{ .name }}
  partitions: {{ .partitions }}
  replicas: {{  .replicas }}
  {{- if .config }}
  config: {{ .config | toYaml | nindent 4 }}
  {{- end }}
---
{{- end }}
