apiVersion: v2
name: kafka
description: A Helm chart for Kubernetes
type: application
version: 1.1.0

dependencies:
- name: strimzi-kafka-operator
  version: "0.26.1"
  repository: "https://strimzi.io/charts/"
- name: prometheus-kafka-exporter
  version: "1.1.0"
  repository: "https://prometheus-community.github.io/helm-charts"
  condition: prometheus-kafka-exporter.enabled
- name: cp-helm-charts
  version: 0.6.1
  repository: https://confluentinc.github.io/cp-helm-charts/
  condition: cp-helm-charts.enabled
